.App {
	text-align: center;
}

/* Main Page */
.mainContainer {
	margin-top: 5%;
	display: flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.title {
	letter-spacing: 2rem;
	font-size: 5rem;
	font-weight: bolder;
	color: #363062;
}

.description {
	text-align: center;
	letter-spacing: 0.3rem;
	font-size: 2rem;
	font-weight: bolder;
	color: #363062;
}

.mapPath {
	margin-top: 2%;
	padding: 1%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*button Map */

.btnGo {
	width: 10vw;
	height: 5vh;
	font-size: 1rem;
	box-sizing: border-box;
	border: 0;
	border-radius: 20px;
	color: #fff;
	padding: 1em 1.8em;
	background: #363062;
	display: flex;
	justify-content: center;
	transition: 0.2s background;
	align-items: center;
	gap: 0.6em;
	text-decoration: none;
	font-weight: bold;
}

.arrowContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.arrow {
	margin-top: 1px;
	width: 10px;
	background: #363062;
	height: 2px;
	position: relative;
	transition: 0.2s;
}

.arrow::before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	display: inline-block;
	top: -3px;
	right: 3px;
	transition: 0.2s;
	padding: 3px;
	transform: rotate(-45deg);
}

.btnGo:hover {
	background-color: #363062;
}

.btnGo:hover .arrow {
	background: #fff;
}

.btnGo:hover .arrow:before {
	right: 0;
}

/* Main page pictures */
.dogPicture {
	opacity: 0.2;
	position: absolute;
	top: 7%;
	left: 5%;
	height: 90%;
}

.dogPicture1 {
	opacity: 0.2;
	position: absolute;
	top: 55%;
	left: 65%;
	height: 50%;
}

.wrapper {
	position: relative;
	height: 90vh;
}

/* kennel section */

.KennelSection {
	margin-top: 10%;
	/* border: 5px solid #363062;
	border-radius: 15px; */
	padding: 1%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title_Kennel {
	font-size: 1.2rem;
	color: #363062;
}

.btnSection {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 12vw;
}

.loginBtn {
	text-decoration: none;
	height: 2%;
	width: 5vw;
	border: 1px solid #363062;
	border-radius: 5px;
	background: rgb(255, 255, 255);
	color: #363062;
	padding: 1%;
	padding-right: 14px;
	padding-left: 12px;
	font-size: 1rem;
}
.loginBtn:hover {
	background-color: #363062;
	color: white;
	border: 1px solid #363062;
}

.registerBtn {
	margin-right: 0.5%;
	cursor: pointer;
	height: 2%;
	width: 6vw;
	border: 1px solid #363062;
	border-radius: 5px;
	background: rgb(255, 255, 255);
	color: #363062;
	padding: 1%;
	padding-right: 14px;
	padding-left: 12px;
	font-size: 1rem;
}

.registerBtn:hover {
	background-color: #363062;
	color: white;
	border: 1px solid #363062;
}

/* Register Form */

.steps {
	opacity: 0.6;
	position: absolute;
	top: 5%;
	left: 10%;
	height: 80%;
}

.steps1 {
	opacity: 0.5;
	position: absolute;
	top: 20%;
	left: 75%;
	height: 80%;
}

.backBtnMap1 {
	display: flex;
	margin-top: 5px;
	margin-left: 2vh;
}

.registerForm {
	display: flex;
	margin-left: 30%;
	margin-top: -5vh;
	/* border: 1px solid red; */
	height: 81vh;
	width: 60vh;
	padding: 5%;
}

.container {
	/* border: 1px solid blue; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 80vh;
	padding: 2%;
}

.inputs {
	margin-top: 1%;
	border: #363062 2px solid;
	border-radius: 5px;
	height: 1.5rem;
	text-align: center;
	height: 4vh;
}

.labels {
	color: #363062;
	font-weight: bold;
	margin-top: 3%;
}

.btnNewKennel {
	cursor: pointer;
	text-decoration: none;
	margin-right: 0.5%;
	margin-top: 2%;
	margin-left: 35%;
	height: 4vh;
	width: 8vw;
	border: 2px solid #363062;
	border-radius: 5px;
	background: rgb(255, 255, 255);
	color: #363062;
	padding: 1%;
	padding-right: 14px;
	padding-left: 12px;
	font-size: 1rem;
}

.btnNewKennel:hover {
	background-color: #363062;
	color: white;
	border: 1px solid #363062;
}

.mapPageContainer {
	margin-top: 5%;
	display: flex;
}

.goldenPic {
	opacity: 0.2;
	position: absolute;
	top: 1%;
	left: 68%;
	height: 85%;
}

/* Map */

.leaflet-container {
	width: 100vh;
	height: 80vh;
	border-radius: 15px;
	border: 2px solid #363062;
	margin-left: 15%;
}

.backBtnMap {
	display: flex;
	margin-top: -50px;
	margin-left: 2vh;
}

/* kennel list info */

.kennelInfo {
	border: 2px solid #363062;
	color: #e9d5ca;
	border-radius: 15px;
	padding: 1%;
	width: 50vh;
	height: 76vh;
	margin-left: 2%;
	z-index: 1;
	background-color: #4d4c7d;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.btnCancel {
	float: right;
	cursor: pointer;
}

.mainInfo {
	/* border: 1px red solid; */
	margin-top: 5%;
}

.kennelName {
	font-size: 2rem;
	text-transform: uppercase;
}

.wrappedKennelInfo {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 1%;
	height: 8%;
	align-items: center;
}

.kennelMainInfo {
	margin-left: 3vh;
}

.dogMapPictureMap {
	width: 250px;
	margin-left: 60px;
	margin-top: 15px;
}

.dogMapPicture {
	height: 150px;
	width: 250px;
	margin-right: 20px;
}

.kennelDogs {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 60%;
	border: 2px solid #e9d5ca;
	border-radius: 15px;
	background-color: #827397;
	overflow-x: hidden;
	margin-top: -15vh;
}

.dogInfo {
	/* display: flex; */
	/* justify-content: flex-start; */
	margin-top: 2%;
	padding: 1%;
	border-radius: 15px;
	border: 1px #e9d5ca solid;
	color: #e9d5ca;
	width: 20vw;
	height: 25vh;
}

.dogName {
	font-weight: bold;
	font-size: 2rem;
	margin-left: 35%;
}

.basicInfo {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-weight: bold;
}

.btnContact {
	cursor: pointer;
	margin-top: 1.5vh;
	margin-left: 30%;
	text-decoration: none;
	height: 4vh;
	width: 8vw;
	border: 1px solid #363062;
	border-radius: 5px;
	background: #e9d5ca;
	color: #363062;
	padding: 1%;
	padding-right: 14px;
	padding-left: 12px;
	font-size: 1rem;
}

/* SearchBar */

.searchBar {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;

	height: 5vh;
	width: 50vw;
	margin-left: 15%;
	margin-top: -3%;
}

.searchCont {
	display: flex;
	margin-right: 20%;
}

.searchBtn {
	cursor: pointer;
	display: flex;
	justify-content: center;
	height: 2.5vh;
	width: 1vw;
	padding: 1%;
	padding-right: 14px;
	padding-left: 12px;
	font-size: 1rem;
	margin-right: 8%;
	margin-top: 3px;
}

.resetBtn {
	cursor: pointer;
	display: flex;
	justify-content: center;
	height: 2.5vh;
	width: 1vw;
	padding: 1%;
	padding-right: 14px;
	padding-left: 12px;
	font-size: 1rem;
	margin-right: 2%;
	margin-top: 3px;
}

/* Login */

.LoginForm {
	/* border: 1px red solid; */
	display: flex;
	width: 35%;
	margin: auto;
	margin-top: 30vh;
	z-index: -1;
}

.backBtnMap2 {
	display: flex;
	margin-top: 5px;
	margin-left: 2vh;
}

.InfoLog {
	display: flex;
	margin-left: 8%;
	margin-top: 10%;
	align-items: center;
	/* border: 1px red solid; */
}

.inputs1 {
	margin-top: 1%;
	border: #363062 2px solid;
	border-radius: 5px;
	height: 1rem;
	text-align: center;
	height: 3.5vh;
	margin-left: 1%;
}

.labels1 {
	color: #363062;
	font-weight: bold;
	margin-top: 3%;
	margin-left: 1%;
}

.btnNewLogin {
	cursor: pointer;
	text-decoration: none;
	margin-right: 0.5%;
	display: flex;
	margin-top: -9%;
	margin-left: 120%;
	justify-content: center;
	align-items: center;
	height: 4vh;
	width: 8vw;
	border: 2px solid #363062;
	border-radius: 5px;
	background: rgb(255, 255, 255);
	color: #363062;
	padding: 1%;
	padding-right: 14px;
	padding-left: 12px;
	font-size: 1rem;
}

.btnNewLogin:hover {
	background-color: #363062;
	color: white;
	border: 1px solid #363062;
}

/* Profile Info */

.profileInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border: 1px #363062 solid;
	border-radius: 15px;
	color: #363062;
	margin-left: 2vh;
	margin-top: 2vh;
	height: 50vh;
	width: 50%;
}

.profileTitle {
	font-size: 2rem;
	font-weight: bold;
	letter-spacing: 0.2rem;
}

.profileInformation {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 1vw;
	padding: 1%;
	width: 50%;
	height: 20vh;
	border: 1px #363062 solid;
	border-radius: 15px;
	font-size: 1rem;
	color: #363062;
	font-weight: bold;
}

.profilewithPictures {
	display: flex;
	align-items: center;
}

.logoutBtn {
	margin-left: 40vw;
	cursor: pointer;
	text-decoration: none;
	height: 4vh;
	width: 6vw;
	border: 2px solid #363062;
	border-radius: 5px;
	background: rgb(255, 255, 255);
	color: #363062;
	padding: 1%;
	font-size: 1rem;
}

.profileDogs {
	color: #e9d5ca;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 2%;
	height: 25vh;
	width: 60vw;
	border-radius: 15px;
	background-color: #827397;
	overflow-y: hidden;
	margin-top: 10vh;
	margin-left: 20%;
}

.inputs2 {
	margin-top: 1%;
	border: #363062 2px solid;
	background-color: white;
	border-radius: 5px;
	text-align: center;
	height: 2.7vh;
}

.dogContainer {
	display: flex;
	flex-direction: row;
	margin-left: 2vw;
	height: 95%;
	border: 1px #e9d5ca solid;
	border-radius: 15px;
}

.dogMainInfo {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 300px;
	width: 350px;
	margin-right: 2px;
	padding: 1%;
	margin-top: 5%;
}

.moreInfo {
	display: flex;
	flex-direction: column;
	/* border: 1px red solid; */
	height: 180px;
	width: 120px;
	justify-content: space-between;
}

.dogNameProfile {
	font-weight: bold;
	font-size: 1.5rem;
	text-align: center;
	text-decoration: underline;
}

.dogsImages {
	display: flex;
	/* border: 1px red solid; */
	width: 200px;
	height: 150px;
}

.adoptedBtn {
	cursor: pointer;
	text-decoration: none;
	align-items: center;
	margin-top: 2%;
	margin-left: 2vw;
	height: 3vh;
	width: 6vw;
	border: 2px solid #363062;
	border-radius: 5px;
	background: rgb(255, 255, 255);
	color: #363062;
	padding: 1%;
	font-size: 1rem;
}

/* Dog Form */
.form {
	border: 1px #363062 solid;
	border-radius: 15px;
	color: #827397;
	width: 45%;
	height: 50vh;
	margin-top: -50vh;
	float: right;
	margin-right: 2vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.containerForm {
	height: 80%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.btnNewDog {
	cursor: pointer;
	text-decoration: none;
	margin-top: 1%;
	height: 4vh;
	width: 6vw;
	border: 2px solid #363062;
	border-radius: 5px;
	background: rgb(255, 255, 255);
	color: #363062;
	padding: 1%;
	font-size: 1rem;
}
