.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

/* Register Form */

.registerForm {
	display: flex;
	margin: auto;
	border: 1px solid red;
	height: 60vh;
	width: 60vh;
	padding: 5%;
}

.container {
	border: 1px solid blue;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	padding: 2%;
}

.labels {
	font-weight: bold;
}

.mapPageContainer {
	display: flex;
	justify-content: space-around;
	margin-top: 5%;
}

/* Map */

.leaflet-container {
	width: 80vh;
	height: 80vh;
}

.kennelInfo {
	float: right;
	border: red 1px solid;
	width: 50vh;
}
